<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>NFL Standings</title>
    </head>

    <body>
      <h1>NFL Standings</h1>
      <h2><a href="/leaderboard/">Leaderboard</a></h2>
      <h2>Teams</h2>
      <ul>
        <% @teams.each do |team| %>
          <li><a href="/teams/<%= team %>"><%= team %></a></li>
        <% end %>
      </ul>
    </body>
</html>
