<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Leaderboard</title>
    </head>

    <body>
      <h2>Leaderboard</h2>

        <ol>
          <% @updated_leaderboard.each do |entry| %>
            <li><%= "TEAM: #{entry[:team]} WINS: #{entry[:wins]} LOSSES: #{entry[:losses]}" %></li>
          <% end %>
        </ol>

    </body>
  </html>
