<!DOCTYPE html>
  <html lang="en">
  <head>
    <title><%= @team %></title>
  </head>

  <body>
    <h1><%= @team %></h1>
    <h3>Results</h3>
      <ul>
        <% @scoreline.each do |array| %>
          <li><%= array %></li>
        <% end %>
      </ul>
      <p><%= "Record: #{@wins} - #{@losses}" %></p>
  </body>
  </html>
